.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 800px;
  max-width: 800px;
  height: 90%;
  position: relative;
  overflow-y: auto;
}

.scroll-area {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* 여행 소개 관련 */
.overlay-info {
  margin-top: 40px;
}

.subimages-content {
  background-image: url('/images/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subimages-content h1 {
  font-size: 42px;
  font-weight: 900;
  text-align: center;
}

.details-intro>h1 {
  color: #1a1e18;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 10px;
}
.details-intro>h2 {
  color: #333;
  font-size: 14px;
  padding: 10px 0;
}
.hastag {
  color: #cf5e5a;
  font-size: 14px;
  font-weight: 900;
  padding: 0px 3px;
}

/* 도시 소개 */
.details-introduction {
  margin: 90px 0;
}

.details-introduction>h1 {
  color: #1a1e18;
  font-size: 22px;
  font-weight: 900;
  padding-bottom: 15px;
}
.details-introduction>p {
  color: #333;
  font-size: 14px;
  line-height: 1.3;
}
.place-card {
  padding: 0px 10px;
  box-sizing: border-box;
}
.place-card:focus {
  outline: none;
}
.place-card>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.place-card>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-card>div>p {
  color: #909090;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 10px;
}
.place-card>div>button {
  color: #fff;
  background-color: #111;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 맛집소개 */
.restaurant-card {
  width: 100%;
  /* max-width: 240px; */
  padding: 0px 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: flex;
  outline: none;
  /* padding:0 10px; */
  box-sizing: border-box;
}
.restaurant-card > img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurant-info {
  padding: 10px;
  border: 1px solid #f4f4f4; 
  border-top: none; 
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.restaurant-info > h2 {
  color: #1a1e18;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0 5px 0;
}
.restaurant-info > h2 > span {
  color:#909090;
  font-size: 13px;
  font-weight: 400;
}
.restaurant-info > div {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1a1e18;
  font-size: 14px;
}
.restaurant-info > div > p > span {
  color: #1a1e18;
  font-weight: 600;
  font-size: 13px;
}
.restaurant-info > div > button {
  background-color: #1a1e18;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

